


body{background-image: url(Mushoku\,jpg.jpg);
background-size: cover;}

#Parrafo1{color: black;
    text-align:left;
font-size: 1.8em;
font-weight:"medium";}
#Parrafo2{color: black;
    text-align:left;
font-size: 1.8em;
font-weight:"medium";}
#Parrafo3{color: black;
    text-align:left;
font-size: 1.8em;
font-weight:"medium";}
#Parrafo4{color: black;
    text-align:left;
font-size: 1.8em;
font-weight:"medium";}
#Parrafo5{font-family: 'Courier New', Courier, monospace; 
    font-size: 55px;  
    text-transform: uppercase;
    font-weight: 600;
    color: brown;
    text-shadow: 1px 1px black;;
font-size: 1.8em;
font-weight:"medium";}
h1,h2,h3,h4{
font-family: 'Courier New', Courier, monospace; 
font-size: 55px;  
text-transform: uppercase;
font-weight: 600;
color: brown;
text-shadow: 1px 1px black;}


.contenedor img{
    left:350px;
    position:absolute;
    top: 350px;
    
}
.contenedor2 img{
    left:730px;
    position:absolute;
    top: 1900px;
    
}
.contenedor3 img{
    left:1260px;
    position:absolute;
    top: 2700px;
    
}
.contenedor4 img{
    left: 600px;
    position: absolute;
    top:4175px;

}
.contenedor5 img{
    left: 300px;
    position: absolute;
    top:4700px;

}